fastapi==0.110.0
uvicorn[standard]
python-multipart
pypdf
pdfminer.six
pdfminer
chroma
langchain
langchain-community
langchain-huggingface
langchainhub
bs4
ollama
chromadb
sentence_transformers
orjson
python-dotenv
